<section class="kc-customer">
  <h1>{{ 'customer.reset_password.title' | t }}</h1>
  <p class="kc-customer__sub">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}
      <div class="kc-notif kc-notif--error">
        <ul style="margin:0; padding-left:20px;">
          {%- for error in form.errors -%}<li>{{ form.errors.messages[error] }}</li>{%- endfor -%}
        </ul>
      </div>
    {%- endif -%}
    <div class="kc-form-row">
      <label class="kc-label" for="NewPassword">{{ 'customer.reset_password.password' | t }}</label>
      <input type="password" name="customer[password]" id="NewPassword" class="kc-field" autocomplete="new-password" required>
    </div>
    <div class="kc-form-row">
      <label class="kc-label" for="NewPasswordConfirm">{{ 'customer.reset_password.password_confirm' | t }}</label>
      <input type="password" name="customer[password_confirmation]" id="NewPasswordConfirm" class="kc-field" autocomplete="new-password" required>
    </div>
    <button type="submit" class="kc-btn kc-btn--primary kc-btn--full">{{ 'customer.reset_password.submit' | t }}</button>
  {%- endform -%}
</section>
